<div class="col-md-11">     
    <div class="card p-3">         
        <canvas id="statutPieChart" style="width: 200%; height: 250px;"></canvas>     
    </div> 
</div>  

<script>     
    document.addEventListener("DOMContentLoaded", function () {         
        let countByStatut = {{ countByStatut|json_encode()|raw }};         
        let labels = countByStatut.map(item => item.statut);         
        let data = countByStatut.map(item => item.count);          

        let ctx = document.getElementById("statutPieChart").getContext("2d");         
        new Chart(ctx, {             
            type: "pie",             
            data: {                 
                labels: labels,                 
                datasets: [{                     
                    label: "Répartition des statuts",                     
                    data: data,                     
                    backgroundColor: ["#b44a18", "#e05c1f", "#e77d4b"],                     
                    hoverOffset: 4                 
                }]             
            },             
            options: {                 
                responsive: true,                 
                maintainAspectRatio: false,
                plugins: {
                    title: {
                        display: true,
                        text: "Nombre de demandes par statut",
                        font: {
                            size: 16
                        },
                        padding: {
                            bottom: 10
                        }
                    },
                    legend: {
                        display: true
                    }
                }
            }         
        });     
    }); 
</script>


